a:link {color:gray;}    /* unvisited link */
a:visited {color:gray;} /* visited link */
a:hover {color:#FF00FF;}   /* mouse over link */
a:active {color:gray;}  /* selected link */
ul.a {list-style-type:square;}  /*List item markers*/
ul.b {list-style-type:square;}  /*List item markers*/
ul.c {list-style-type:square;}  /*List item markers*/
ul.d {list-style-type:square;}  /*List item markers*/
h2.serif{font-family:"Lucida Console", Monaco, monospace;}
h3.serif{font-family:"Lucida Console", Monaco, monospace;}